In [1]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [3]:
sid = SentimentIntensityAnalyzer()

In [4]:
a = "this is a nice movie"
sid.polarity_scores(a)

{'compound': 0.4215, 'neg': 0.0, 'neu': 0.517, 'pos': 0.483}

In [5]:
a = "this is a good movie but NOT THE BEST..."

In [6]:
sid.polarity_scores(a)

{'compound': 0.2382, 'neg': 0.0, 'neu': 0.782, 'pos': 0.218}

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('/content/amazonreviews.tsv', sep='\t')

In [9]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [11]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
blanks = []
for i,lb,rv in df.itertuples():
  if type(rv) == str:
    if rv.isspace():
      blanks.append(i)

In [16]:
df.drop(blanks,inplace=True)

In [17]:
df.iloc[0]['review']

'Stuning even for the non-gamer: This sound track was beautiful! It paints the senery in your mind so well I would recomend it even to people who hate vid. game music! I have played the game Chrono Cross but out of all of the games I have ever played it has the best music! It backs away from crude keyboarding and takes a fresher step with grate guitars and soulful orchestras. It would impress anyone who cares to listen! ^_^'

In [18]:
sid.polarity_scores(df.iloc[0]['review'])

{'compound': 0.9454, 'neg': 0.088, 'neu': 0.669, 'pos': 0.243}

In [19]:
df['scores']=df['review'].apply(lambda review: sid.polarity_scores(review))

In [20]:
df.head()

  label  ...                                             scores
0   pos  ...  {'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...
1   pos  ...  {'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...
2   pos  ...  {'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...
3   pos  ...  {'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...
4   pos  ...  {'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...

[5 rows x 3 columns]

In [21]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [22]:
df.head()

  label  ... compound
0   pos  ...   0.9454
1   pos  ...   0.8957
2   pos  ...   0.9858
3   pos  ...   0.9814
4   pos  ...   0.9781

[5 rows x 4 columns]

In [23]:
df['comp_score'] = df['compound'].apply(lambda score: 'pos' if score>=0 else 'neg')

In [24]:
df.head()

  label                                             review  ... compound  comp_score
0   pos  Stuning even for the non-gamer: This sound tra...  ...   0.9454         pos
1   pos  The best soundtrack ever to anything.: I'm rea...  ...   0.8957         pos
2   pos  Amazing!: This soundtrack is my favorite music...  ...   0.9858         pos
3   pos  Excellent Soundtrack: I truly like this soundt...  ...   0.9814         pos
4   pos  Remember, Pull Your Jaw Off The Floor After He...  ...   0.9781         pos

[5 rows x 5 columns]

In [25]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [26]:
accuracy_score(df['label'],df['comp_score'])

0.7091

In [27]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [28]:
print(confusion_matrix(df['label'],df['comp_score']))

[[2623 2474]
 [ 435 4468]]

In [29]:
import numpy as np

In [30]:
df = pd.read_csv('/content/moviereviews.tsv', sep = '\t')

In [31]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [32]:
df.dropna(inplace=True)

In [33]:
blanks = []
for i,lb,rv in df.itertuples():
  if type(rv) == str:
    if rv.isspace():
      blanks.append(i)

In [34]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1087]

In [35]:
df.drop(blanks,inplace=True)

In [36]:
df.shape

(1053, 2)

In [37]:
df['label'].value_counts()

neg    529
pos    524
Name: label, dtype: int64

In [38]:
df['scores'] = df['review'].apply(lambda review:sid.polarity_scores(review))

In [39]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [41]:
df['comp_score'] = df['compound'].apply(lambda score: 'pos' if score>=0 else 'neg')

In [42]:
df.head()

  label                                             review  ... compound  comp_score
0   neg  how do films like mouse hunt get into theatres...  ...  -0.9125         neg
1   neg  some talented actresses are blessed with a dem...  ...  -0.8618         neg
2   pos  this has been an extraordinary year for austra...  ...   0.9953         pos
3   pos  according to hollywood movies made in last few...  ...   0.9972         pos
4   neg  my first press screening of 1998 and already i...  ...  -0.7264         neg

[5 rows x 5 columns]

In [43]:
accuracy_score(df['label'],df['comp_score'])

0.6334283000949668

In [44]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.73      0.43      0.54       529
         pos       0.59      0.84      0.69       524

    accuracy                           0.63      1053
   macro avg       0.66      0.63      0.62      1053
weighted avg       0.66      0.63      0.62      1053

In [45]:
print(confusion_matrix(df['label'],df['comp_score']))

[[229 300]
 [ 86 438]]